@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-heading: Poppins, Helvetica, sans-serif, system-ui;
  --font-sans: Inter, Helvetica, sans-serif, system-ui;

  --color-theme-darkest: #18181b;
  --color-theme-dark: #27272a;
  --color-theme-medium: #52525b;
  --color-theme-light: #a1a1aa;
  --color-theme-lightest: #d4d4d8;
  --color-theme-white: #ffffff;
}
