@import 'tailwindcss';

@theme {
  /* Fonts */
  --font-*: initial;
  --font-heading: Poppins, Helvetica, sans-serif, system-ui;
  --font-sans: Inter, Helvetica, sans-serif, system-ui;

  /* Border Radius */
  --radius-theme-sm: var(--radius-sm);
  --radius-theme-md: var(--radius-md);
  --radius-theme-lg: var(--radius-lg);

  /* Colour Palette */
  --color-theme-heading: #18181b;
  --color-theme-copy: #27272a;
  --color-theme-strong: #52525b;
  --color-theme-weak: #a1a1aa;
  --color-theme-filling: #d4d4d8;
  --color-theme-background: #ffffff;
  --color-theme-primary: var(--color-indigo-500);
}

@layer base {
  [data-theme='dark'] {
    /* Colour Palette */
    --color-theme-heading: #ffffff;
    --color-theme-copy: #d4d4d8;
    --color-theme-strong: #a1a1aa;
    --color-theme-weak: #52525b;
    --color-theme-filling: #27272a;
    --color-theme-background: #18181b;
  }
}

@layer utilities {
  /* Centered Container */
  .container {
    margin-inline: auto;
    padding: calc(var(--spacing) * 8);
  }

  /* Gradient Text */
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
  }

  /* Typography */
  .head-h1 {
    @apply font-heading font-bold leading-none text-[3rem] lg:text-[4rem];
  }
  .head-h2 {
    @apply font-heading font-semibold leading-tight text-[2.25rem] md:text-[3rem];
  }
  .head-h3 {
    @apply font-heading font-semibold leading-tight text-[1.875rem] md:text-[2.25rem];
  }
  .head-h4 {
    @apply font-heading font-semibold leading-tight text-[1.5rem] md:text-[1.875rem];
  }
  .head-h5 {
    @apply font-heading font-semibold leading-tight text-[1.25rem] md:text-[1.5rem];
  }
  .body-2xl {
    @apply font-sans leading-normal text-[1.5rem];
  }
  .body-xl {
    @apply font-sans leading-normal text-[1.25rem];
  }
  .body-lg {
    @apply font-sans leading-normal text-[1.125rem];
  }
  .body-md {
    @apply font-sans leading-normal text-[1rem];
  }
  .body-sm {
    @apply font-sans leading-normal text-[0.875rem];
  }
  .body-xs {
    @apply font-sans leading-normal text-[0.75rem];
  }
}
