@import "tailwindcss";

@layer base {
  :root {
    /* Neutral Colour Palette */
    --palette-neutral-000: #ffffff;
    --palette-neutral-050: #fafbff;
    --palette-neutral-100: #f0f1fa;
    --palette-neutral-200: #e1e4f2;
    --palette-neutral-300: #cacee5;
    --palette-neutral-400: #9fa3bf;
    --palette-neutral-500: #8589a6;
    --palette-neutral-600: #474b66;
    --palette-neutral-700: #3a3e59;
    --palette-neutral-800: #2e324d;
    --palette-neutral-900: #1a1d33;
    --palette-neutral-950: #0b0d17;
  }
}

@theme {
  /* Fonts */
  --font-*: initial;
  --font-heading: Poppins, Helvetica, sans-serif, system-ui;
  --font-sans: Inter, Helvetica, sans-serif, system-ui;

  /* Border Radius */
  --radius-theme-sm: var(--radius-sm);
  --radius-theme-md: var(--radius-md);
  --radius-theme-lg: var(--radius-lg);

  /* Colour Palette */
  --color-theme-heading: var(--palette-neutral-900);
  --color-theme-copy: var(--palette-neutral-600);
  --color-theme-strong: var(--palette-neutral-500);
  --color-theme-weak: var(--palette-neutral-200);
  --color-theme-filling: var(--palette-neutral-050);
  --color-theme-background: var(--palette-neutral-000);
}

@layer base {
  [data-theme="dark"] {
    /* Colour Palette */
    --color-theme-heading: var(--palette-neutral-000);
    --color-theme-copy: var(--palette-neutral-300);
    --color-theme-strong: var(--palette-neutral-400);
    --color-theme-weak: var(--palette-neutral-600);
    --color-theme-filling: var(--palette-neutral-800);
    --color-theme-background: var(--palette-neutral-900);
  }
}

@layer utilities {
  .btn-shadow {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset, 0px 1px 4px 0px rgba(58, 78, 102, 0.25),
      0px -1px 0px 1px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px 1px rgba(255, 255, 255, 0.25) inset;
  }
  .container {
    @apply mx-auto max-w-[425px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px];
  }

  .rendering-pixelated {
    image-rendering: pixelated;
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
  }

  /* Typography */
  .head-h1 {
    @apply font-heading font-bold leading-none text-[3rem] lg:text-[3.75rem];
  }
  .head-h2 {
    @apply font-heading font-semibold leading-tight text-[2.25rem] md:text-[3rem];
  }
  .head-h3 {
    @apply font-heading font-semibold leading-tight text-[1.875rem] md:text-[2.25rem];
  }
  .head-h4 {
    @apply font-heading font-semibold leading-tight text-[1.5rem] md:text-[1.875rem];
  }
  .head-h5 {
    @apply font-heading font-semibold leading-tight text-[1.25rem] md:text-[1.5rem];
  }

  .body-2xl {
    @apply font-sans leading-normal text-[1.5rem];
  }
  .body-xl {
    @apply font-sans leading-normal text-[1.25rem];
  }
  .body-lg {
    @apply font-sans leading-normal text-[1.125rem];
  }
  .body-md {
    @apply font-sans leading-normal text-[1rem];
  }
  .body-sm {
    @apply font-sans leading-normal text-[0.875rem];
  }
  .body-xs {
    @apply font-sans leading-normal text-[0.75rem];
  }
}
